body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    
}

.container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUrsDL5CjU1DULWnEMda9u4ipRrdkcxWtuiw&s');
    height: 100%;
    background-size:contain;
    background-position: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 7em;
    margin-bottom: 20px;
    text-align: center;
    
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link {
    text-decoration: none;
    color:beige;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

